table th, td {
    text-align: center;
}

td img:hover {
    cursor: pointer;
}

td button, form {
    all: unset;
    text-decoration: none;
    /* display: inline;  */
}
form button {
    all: unset;
}